.aside-content{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 1.5rem;
}

.logo{
  display: flex;
  flex-direction: column;
}

.temas{
  display: flex;
  flex-direction: column;
}

.temas span{
  font-size: 45px;
  font-weight: 800;
  line-height: 100%;
  text-transform: capitalize;
}

.logo .top{
  font-size: 14px;
  letter-spacing: 1.05px;
}

.logo .bottom{
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1.05px;
}